@use '../../_variables.scss' as *;

.section7 {
	background-color: $gray-dark-color;
	color: $gray-light-color;

	display: flex;
	justify-content: center;
	align-items: center;

	span {
		color: $blue-color;
		font-weight: 700;
	}

	&__content {
		max-width: 1285px;
		margin: 66px auto;
	}

	&__title {
		color: $blue-color;
	}

	&__container {
		max-width: 1070px;
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
		gap: 12px;
	}

	&__intesive_reg {
		max-width: 710px;
		margin-top: 40px auto;
	}

	&__form {
		&__content {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}

		&__contacts {
			display: flex;
			gap: 20px;
		}

		&__date {
			display: flex;
			flex-direction: column;
			gap: 15px;

			&__items {
				display: flex;
				flex-direction: column;
				gap: 20px;
			}
		}

		&__sqlKnowledge {
			&__items {
				margin-top: 20px;
				display: flex;
				flex-direction: column;
				gap: 20px;
			}
		}

		&__minKnowledge {
			&__items {
				margin-top: 20px;
				display: flex;
				flex-wrap: wrap;
				gap: 50px;

				&__item {
					display: flex;
					flex-direction: column;
					gap: 20px;
				}
			}
		}

		&__button {
			max-width: 100%;
			margin: 40px 0;
		}
	}

	&__address {
		margin-bottom: 20px;
		a {
			font-weight: 400;
		}
	}
}

@media (max-width: 1200px) {
	.section7 {
		&__container {
			justify-content: center;
			align-items: center;
			flex-direction: column;
			padding: 0 10%;
		}
	}
}

@media (max-width: 480px) {
	.section7 {
		text-align: center;

		&__form {
			&__contacts {
				flex-direction: column;
				align-items: center;
			}

			&__minKnowledge__items {
				align-items: center;
			}
		}

		&__intesive_reg {
			width: 100vw;
		}
	}
}
