@use './_variables.scss' as *;
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
}

* {
	box-sizing: border-box;
	font-family: $main-font;
}

body {
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
}

h1 {
	margin: 0;
	font-size: 64px;
	margin: 1.5rem 0;
	font-weight: 700;
	line-height: 80px;
}

h3 {
	font-size: 24px;
	margin: 0;
	font-weight: 700;
	line-height: 34px;
}

p {
	font-size: 24px;
	margin: 0;
	font-weight: 400;
	line-height: 34px;
}

button {
	padding: 1.25em 1.375em;
	font-size: 16px;
	line-height: 19.36px;
	font-weight: 700;
	font-family: inherit;

	cursor: pointer;
	border: none;
	background-color: $blue-color;
	color: $gray-light-color;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
	font-size: 1em;
	font-weight: 700;

	&:hover {
		color: $green-color;
	}
}

input {
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	border: 2px solid $gray-light-color;
	padding: 6px 14px;
	background-color: transparent;
}

@media (max-width: 550px) {
	h3 {
		font-size: 18px;
	}

	h1 {
		font-size: 48px;
	}

	p {
		font-size: 18px;
	}
}
